body {
    font-family: Arial;
}
body {
    font-family: Arial;
    margin: 20px;
}

header {
    background: #f0f0f0;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
